<div class="row">
    <div class="span3">
      <h2>登录保险箱</h2>
      <form accept-charset="UTF-8" action="/tool_acounts/login" class="simple_form form-vertical" id="new_user" method="post" novalidate="novalidate">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="✓">
          <input name="authenticity_token" type="hidden" value="k4m70DRO3Ujuitno3Xctp18ZMO+qugIchV9q8444r5K738=">
        </div>

        <div class="control-group password optional password">
          <label class="password optional control-label" for="password">密码</label>
          <div class="controls">
            <input class="password optional" id="password" name="password" placeholder="输入6..12位密码" size="50" type="password" style="width: 185px;"></div></div>
       
        <input class="btn btn-primary" name="commit" type="submit" value="提交" style="width: 200px;">
        <br/>
        如果没有密码，请在<a href="/tool_acounts/edit_password">保险箱密码设置</a>里设置密码。
</form>     



    </div>
    <div class="span6 text-gray bg_user">
      <h3>保险箱登录说明</h3>
        所有保险箱里面的内容，需要二次登录以后才能使用。即用户在登录久久珍藏馆以后，在菜单"保险箱"-->"密码设置"里面，重新设置一个用户登录保险箱的密码，才能通过该密码正常使用保险箱。
        具体操作步骤：<br><br>
        1、登录久久珍藏馆；<br><br>
        2、在菜单栏中选择“保险箱”， 现在“密码设置”， 在弹出的表单中设置一个保险箱登录密码：<br>
            注意：该密码为独立的保险箱密码，跟您登录久久珍藏馆的密码是分离的。为了安全起见，最好不要使用同一密码。<br><br>
        3、设置好密码以后，选择菜单“保险箱”-->“保险箱登录”，登录保险箱。<br><br>
        4、登录保险箱以后，选择菜单“保险箱”-->“保险内容”，即可添加需要保险的内容。<br>

        <br><br><br><br><br><br>
    </div>
</div>