
<div class="primary-sidebar text-left">
  <!-- Main nav -->
  <ul class="nav nav-collapse collapse nav-collapse-primary">
            <li class="active">
              <span class="glow"></span>
              <a href="dashboard.html">
                  <i class="icon-dashboard icon-2x"></i>
                  <span>个人中心</span>
              </a>
            </li>
     <!--        <li class="dark-nav ">

              <span class="glow"></span>

              

              <a class="accordion-toggle collapsed " data-toggle="collapse" href="#aDqUL3qcZd">
                  <i class="icon-beaker icon-2x"></i>
                    <span>
                      快捷菜单
                      <i class="icon-caret-down"></i>
                    </span>

              </a>

              <ul id="aDqUL3qcZd" class="collapse ">
                
                    <li class="">
                      <a href="../ui_lab/buttons.html">
                          <i class="icon-hand-up"></i> Buttons
                      </a>
                    </li>
                
                    <li class="">
                      <a href="../ui_lab/general.html">
                          <i class="icon-beaker"></i> General elements
                      </a>
                    </li>
                
                    <li class="">
                      <a href="../ui_lab/icons.html">
                          <i class="icon-info-sign"></i> Icons
                      </a>
                    </li>
                
                    <li class="">
                      <a href="../ui_lab/grid.html">
                          <i class="icon-th-large"></i> Grid
                      </a>
                    </li>
                
                    <li class="">
                      <a href="../ui_lab/tables.html">
                          <i class="icon-table"></i> Tables
                      </a>
                    </li>
                
                    <li class="">
                      <a href="../ui_lab/widgets.html">
                          <i class="icon-plus-sign-alt"></i> Widgets
                      </a>
                    </li>
                
              </ul>

            </li>
 -->
            <li class="">
              <span class="glow"></span>
              <a href="#">
                  <i class="icon-sitemap icon-2x"></i>
                  <span>家族树</span>
              </a>
            </li>
            <li class="">
              <span class="glow"></span>
              <a href="#">
                  <i class="icon-group icon-2x"></i>
                  <span>作品集</span>
              </a>
            </li>
            <li class="">
              <span class="glow"></span>
              <a href="#">
                  <i class="icon-edit icon-2x"></i>
                  <span>纪念册</span>
              </a>
            </li>
            <li class="">
              <span class="glow"></span>
              <a href="#">
                  <i class="icon-tint icon-2x"></i>
                  <span>回忆录</span>
              </a>
            </li>
            <li class="">
              <span class="glow"></span>
                <%= link_to user_notes_path(current_user) do %>
                  <i class="icon-leaf icon-2x"></i>
                  <span>日志</span>
              <% end %>
            </li>

            <li class="dark-nav ">
              <span class="glow"></span>
              <a class="accordion-toggle collapsed " data-toggle="collapse" href="#5Q58yRUk6j">
                  <i class="icon-link icon-2x"></i>
                    <span>
                      保险箱
                      <i class="icon-caret-down"></i>
                    </span>

              </a>

              <ul id="5Q58yRUk6j" class="collapse ">
                
                    <li class="">
                      <a href="../other/wizard.html">
                          <i class="icon-magic"></i> 保险箱登录
                      </a>
                    </li>
                
                    <li class="">
                      <a href="../other/login.html">
                          <i class="icon-user"></i> 密码设置
                      </a>
                    </li>
                
                    <li class="">
                      <a href="../other/error404.html">
                          <i class="icon-ban-circle"></i> 其他
                      </a>
                    </li>
                
              </ul>

            </li>
  </ul>

  
</div> 
