<div class="row">
  <div class="span2 text-center" style="background: #eee;">
    <%= render :partial => "user_nav" %>
  </div>
  <div class="span10">
    <div class="content">
      dashboard
    </div>
  </div>
</div>
