整站搜索引擎
<form accept-charset="UTF-8" action="/search_items" class="search-form" >
  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="S762C54QSFLIavkjsdfsdHyEKv97sYektIeCcp5obid4RMmE=" /></div>
  <select name="cate">
    <option value="note">记事本</option>
  </select>
  <input name="q" type="input" value="" placeholder="输入搜索关键词" size="12"/><br/>
  <input class="btn btn-info" name="commit" type="submit" value="搜索" />
</form>     