<% content_for :h1 do %>
回忆录，多姿多彩的人生
<% end %>
<%#=image_tag "i-b-huiyi.png" %>
<div class="f" style="width: 430px; line-height: 24px;">
     <p> &nbsp;&nbsp;&nbsp;&nbsp;人去留名，雁去留声。茫茫人海，无论贵贱，都是匆匆过客；悠悠岁月，如梭似箭，总觉弹指一挥。到了一定的年龄，人们会回忆过往的岁月，都会有许多动人的故事萦绕心头。把这些故事通过一种不同寻常的方式演绎出来，编写出一部回忆录，您会发现：原来自己的人生也是一道绚丽的风景。 </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;请将您珍贵的回忆录收藏到久久珍藏馆。您可以指定时间向族人开放，让您的故事世代相传。 <p>
</div>
<br/>
<div style="width: 65%;background-color: #e7f0fb; padding: 15px;">
  <%= image_tag "banner4.png" %>
</div>
<br/><br/>