<% content_for :h1 do %>
家族馆，代代相传的史册
<% end %>
<%#=image_tag "i-b-huiyi.png" %>
<div class="row">
      <div class="span8" style="width: 400px; line-height: 24px;">
           <p> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">您的家族有家谱吗？ 没有 </span>在互联网诞生前，建立家谱或者续谱是件复杂的大工程，它几乎成为贵族的专利。信息流及财力的局限性导致普通的家庭根本无法溯根求源，我们莫名其妙地被带到这个世界，然后又匆匆离开，什么都没留下。</p>
       <p> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">从现在开始，您可以有</span>       现在不同了，利用互联网技术，您可以利用久久珍藏馆将有血缘关系或亲祖关系的人联系起来，再按照辈分排序构成家族馆的模型，使得家族馆中的成员可以清楚地了解自己家族的起源、家族关系以及其他成员的信息。即使某一天我们离世，我们的重要信息犹如DNA一样将随着家族馆的不断延伸而得以久久传承。</p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">家族馆有自动匹配功能</span>       家族馆里有一定的成员后，网站系统会自动识别判断不同人建立的两棵家族馆间是否有宗族关系，如果符合宗族关系，网站系统将提示相关成员是否合并，双方同意后将形成一个更大的家族馆。</p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">家族馆特设祭奠园 </span>             久久珍藏馆在家族馆中为逝者特设一个祭奠园，在这里，子孙后代可以寄托他们对先祖的思念。</p>
       </p>
</div>
<div class="span4">
  <div style="">
    <%=image_tag asset_path("jiapu1.png")%>
  </div>
</div>

</div>

