<div class="well" style="padding: 0px;">
  <div class="row">
    <div class="span12">
    <%=image_tag asset_path("banner3.png"), :width => '940px'%>
    </div>
  </div>
</div>
      

<div class="container">
  <h3 class="short_headline"><span>家族树说明</span></h3>
  <div class="row-fluid equal featured-columns">
    功能具有永久保存的作用。。。。。。关于家族树的说明关于家族树的说，明关于家族树的说明关于家族树的说。明关于家族树的说明关于家族树的说明关于家族树的说明；关于家族树的说明。关于家族树的说明关于家族树的说明关于家族树的说明，关于家族树的说明。关于家族树的说明，关于家族树的说明。关于家族树的说明！
  </div>
</div>

<div class="container">
  <h3 class="short_headline"><span>家族树效果展示</span></h3>
  <div class="row-fluid equal featured-columns">
    <%=image_tag asset_path("jiapu.gif"), :width => '940px'%>
  </div>
</div>