<div class="well" style="padding: 0px;">
  <div class="row">
    <div class="span12">
    <%=image_tag asset_path("banner3.png"), :width => '940px'%>
    </div>
  </div>
</div>
      

<div class="container">
  <div class="row-fluid equal featured-columns">
    <%=image_tag asset_path("jiapu-1.png"), :width => '940px'%>
    <%=image_tag asset_path("jiapu.gif"), :width => '940px'%>
  </div>
</div>