<% content_for :h1 do %>
纪念册，永存于心的瞬间
<% end %>
<%#=image_tag "i-b-huiyi.png" %>
<div class="f" style="width: 430px; line-height: 24px;">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;在流逝的时光里，一定有许多难忘的时刻，除了储存在你脑海里，还定格在纪念册上。</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;请将您精美的纪念册收藏到久久珍藏馆。您可以指定时间向族人开放，让您的人生精彩绽放。
  </P>
  <br/>
</div>

<br/>
<div style="width: 65%;background-color: #e7f0fb;  padding: 15px;">
  <%= image_tag "i-right-5.png" %>
</div>
<br/><br/>


