<div class="well" style="padding: 0px;">
  <div class="row">
    <div class="span12">
    <%=image_tag asset_path("banner6.png"), :width => '938px'%>
    </div>
  </div>
</div>
      

<div class="container"> 
<div class="row">
  <div class="span2">
    <ul>
    <li class="">
      <a href="/users/1/jinian_cates/11">
        <i class="icon-plus"></i>恋爱故事
    </a>                              </li>
    <li class="">
      <a href="/users/1/jinian_cates/12">
        <i class="icon-plus"></i>婚礼纪念
    </a>                              </li>
    <li class="">
      <a href="/users/1/jinian_cates/13">
        <i class="icon-plus"></i>结婚周年
    </a>                              </li>
    </ul>

  </div>
  <div class="span10">
      <%= link_to image_tag(asset_path("rizhi-1.png"), :width => '800px'), '/users/sign_up'%>
  </div>
</div>
</div>