<div class="well" style="padding: 0px;">
  <div class="row">
    <div class="span12">
    <%=image_tag asset_path("banner6.png"), :width => '938px'%>
    </div>
  </div>
</div>
      
      
<div class="jumbotron">
  <%= link_to image_tag(asset_path("rizhi-1.png"), :width => '940px'), '/users/sign_up'%>
  <br/><br/>
</div>