<%=render :partial => 'layouts/slider', :locals => {:css => 'slide_banner', :arr => [
      ["banner1.png", "/"],
      ["banner2.png", "/"],
      ["banner3.png", "/home/jiapu"]
      ]} %>

<div class="jumbotron">
  <h1>日志</h1>
  <p class="lead text-left">如今的网络喧嚣无比，纷繁的信息充斥整个互联网世界，想留住的却稍纵即逝。有这么一个地方，它可以只属于你，它可以保存你所有值得珍藏的信息，并且永世传承下去，这就是久久珍藏馆.</p>
  <a class="btn btn-large btn-success" href="#">现在就注册</a>
</div>

<div class="container">
  <h3 class="short_headline"><span></span></h3>
  <div class="row-fluid equal featured-columns">
    <iframe src="jquery-demo1/index.htm" width="100%" height="320px" Frameborder=No Border=0 Marginwidth=0 Marginheight=0 Scrolling=No></iframe>
  </div>
</div>

<br/>
<div class="container">
  <h3 class="short_headline"><span>为什么要选择久久珍藏馆</span></h3>
  <div class="row-fluid equal featured-columns"> 
    <div class="span4" style="height: 332px;">
      <a href="#" class="innershadow"><img class="banner-img" src="/assets/title1.png" alt=""></a> 
      <div class="content">
            <h3 class="primary-color">这是一个亲情网络</h3>
            <p>对逝者，有可追溯性；对生者，把生活的片段长久保存，便于回顾.把生活的片段长久保存，便于回顾</p>
            <p class="text-right last"><a href="#" class="btn custom-btn btn-small btn-very-subtle">更多 →</a></p>
      </div>
    </div>
    <div class="span4" style="height: 332px;">
      <a href="#" class="innershadow"><img class="banner-img" src="/assets/title2.png" alt=""></a>
      <div class="content">
            <h3 class="primary-color">这是一个个人传记</h3>
            <p>这是一个个人传记We have proven we know that it is better to disintermediate intuitively than to expedite virally. .</p>
            <p class="text-right last"><a href="#" class="btn custom-btn btn-small btn-very-subtle">更多 →</a></p>
      </div>
    </div>
    <div class="span4" style="height: 332px;">
      <a href="#" class="innershadow"><img class="banner-img" src="/assets/title3.png" alt=""></a>
      <div class="content">
            <h3 class="primary-color">这是一个永久保存的藏馆</h3>
            <p>技术上，我们同时采用主服务器和备服务器，增加故障预警功能，保证您的信息能够“久久珍藏”.</p>
            <p class="text-right last"><a href="#" class="btn custom-btn btn-small btn-very-subtle">更多 →</a></p>
      </div>
    </div>
  </div>
</div>