<% content_for :h1 do %>
记事本，过往岁月的留痕
<% end %>
<%#=image_tag "i-b-huiyi.png" %>
<div class="f" style="width: 430px; line-height: 24px;">
   <p>&nbsp;&nbsp;&nbsp;&nbsp;久久珍藏馆内的记事本具有模糊搜索及精确搜索功能，平时，把重要的事情记录下来，日后查找极其方便。 </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;必要的时候，您也可以将记事本向族人开放。</P>
  <br/>
</div>

<br/>
<div style="width: 65%;background-color: #e7f0fb; padding: 15px;">
  <%= image_tag "banner6.png" %>
</div>
<br/><br/>