<div class="well" style="padding: 0px;">
  <div class="row">
    <div class="span12">
    <%=image_tag asset_path("3.jpg"), :width => '940px'%>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1>保险箱</h1>
  <p class="lead text-left">如今的网络喧嚣无比，纷繁的信息充斥整个互联网世界，想留住的却稍纵即逝。有这么一个地方，它可以只属于你，它可以保存你所有值得珍藏的信息，并且永世传承下去，这就是久久珍藏馆.</p>
  <a class="btn btn-large btn-success" href="#">现在就注册</a>
</div>

<div class="container">
  <h3 class="short_headline"><span>为什么要使用保险箱？</span></h3>
  <div class="row-fluid equal featured-columns">
    功能具有永久保存的作用。。。。。。
  </div>
</div>
