<% content_for :h1 do %>
作品集，精雕细琢的结晶
<% end %>
<%#=image_tag "i-b-huiyi.png" %>
<div class="f" style="width: 430px; line-height: 24px;">
   <p>&nbsp;&nbsp;&nbsp;&nbsp;这里，无论是一个字，一句话，还是一个音符，一幅书画，都渗透着您的心血。珍藏它，欣赏它，在回味中获得愉悦。 </p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;您可以将您有价值的作品，无论是否发表过，收藏到久久珍藏馆。您可以指定时间向族人开放，让您的精神永放光彩。
  </P>
  <br/>
</div>

<br/>
<div style="width: 65%;background-color: #e7f0fb;  padding: 15px;">
  <%= image_tag "i-right-4.png" %>
</div>
<br/><br/>


