<div class="well" style="padding: 0px;">
  <div class="row">
    <div class="span12">
    <%#=image_tag asset_path("2.jpg"), :width => '940px'%>
    <%=play_flash("/assets/flash/zuopin.swf") %>
    </div>
  </div>
</div>

      
<div class="jumbotron">
  <%= link_to image_tag(asset_path("zuopin-1.png"), :width => '940px'), '/users/sign_up'%>
  <br/><br/>
</div>

