<link href="/assets/jquery.orgchart.css" media="all" rel="stylesheet" type="text/css" />
<script src="/assets/jquery.orgchart.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
      $('#chart-source').orgChart({container: $('#chart-container')});
  });
</script>
<div id="chart-container"></div>

<ul id="chart-source" class="hide">
    <li class="big"><em>Drive</em><br/>
        <img title="Drive" src="Drive.png"/>
        <ul>
            <li class="big">Ryan Gosling<br/>
                <img title="Ryan Gosling" src="RyanGosling.png"/>
            </li>
            <li class="big">Carey Mulligan<br/>
                <img title="Carey Mulligan" src="CareyMulligan.png"/>
            </li>
        </ul>
    </li>
</ul>