// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  padding: 10px 0;
	background: url("/assets/black.gif");
	background-repeat: repeat;
	background-position: left top;
}
/* Custom container */
.container-narrow {
  background-color: #fff;
  margin: 0 auto;
  max-width: 940px;
  padding: 0 20px;
  border: 4px solid #eee;
}
.container-narrow-bg {
  background: url("/assets/index-bg.png") no-repeat left top;
  margin: 0 auto;
  max-width: 940px;

  padding: 0 20px;
  margin-top: -10px;
  padding-top: 40px;
}
.container-narrow-foot-bg {
  background: url("/assets/index-foot-bg.png") no-repeat left bottom;
  margin: 0 auto;
  max-width: 940px;
  height: 65px;
  padding: 0 20px;
}
.i-header{
 float: left;
 width: 980px;
 height: 100px;
 display: block;
 clear: both;
}
.i-header h1, h2{
  margin-top: 16px;
  font-size: 24px;
  font-family: "微软雅黑", "Microsoft Yahe";
  color: #98b7d2;
}
.i-top-nav{
  float: right;
  background-color: #eee;
  padding: 2px 4px;
  margin-top: -98px;
  margin-right: 40px;
}
.i-header img{
  float: left;
  margin-left: 0px;
  margin-right: 20px;
}
.container-narrow > hr {
  margin: 20px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}

.banner-img{
  border-radius: 5px 5px 0 0;
}

.slider{
  display: block;
  height: 300px;
}

.s_title{
  display: block;
  font-size: 36px;
  text-algin: center;
  padding: 40px 60px;
}

