<div class="footer">
  <ul class="nav nav-list inline">
    <li><a href="/pages/about">关于我们</a></li>
    <li><a href="/pages/policy">版权声明</a></li>
    <li><a href="/pages/protect">隐私保护</a></li>
    <li><a href="/pages/contact">诚聘英才</a></li>
    <li><a href="/pages/contact">商务合作</a></li>
    <li><a href="/pages/contact">问与答</a></li>
    <li><a href="/pages/contact">联系我们</a></li>
    <li class="pull-right text-right">&copy; 99ZCG Digital co., Ltd. 蜀ICP备13006576号</li>
  </ul>
</div>
