<div class="footer">
  <ul class="nav nav-list inline">
    <li><a href="">关于我们</a></li>
    <li><a href="">版权声明</a></li>
    <li><a href="">隐私保护</a></li>
    <li><a href="">联系我们</a></li>
    <li class="text-right">&copy; 99ZCG Digital co., Ltd. 蜀ICP备13006576号</li>
  </ul>
</div>