<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">首页</a></li>
    <li><a href="#">登录</a></li>
    <li class="disabled text-right"><a href="#">客户电话：400-600-888</a></li>
  </ul>
  <h3><%=image_tag asset_path("logo-new-more.png") %></h3>
</div>
